body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.piano {
  display: flex;
}

.key {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  border: 1px solid #000;
  width: 60px;
  height: 200px;
  cursor: pointer;
  user-select: none;
}

.key.active {
  background-color: grey;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
  width: 40px;
  height: 120px;
  margin: 0 -20px;
  z-index: 1;
  position: relative;
  color: white;
}

.play-btn {
  border: 1px solid #000;
  width: 60px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
}

.octave-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.octave-control button {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}
